<h2><%= @page_title %></h2>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @publishers.each do |publisher| %>
        <tr>
          <td><%= link_to(publisher.name, publisher_path(publisher)) %></td>
          <td>
            <%= link_to 'Edit', edit_publisher_path(publisher) %> |
            <%= link_to 'Delete', delete_publisher_path(publisher) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>