<h2>Add a new publisher</h2>

<%= form_for @publisher, class: 'form-horizontal' do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-2">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <div class="col-sm-5">
        <%= link_to 'Cancel', publishers_path, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>