<div class="books-show">
	<h2>Title</h2>
	<div class="row">
		<div class="col-sm-8">
			 <img src="http://lorempixel.com/500/200" class="img-responsive" alt="">
		</div>
		<div class="col-sm-4">
			<h3>Book Info</h3>
			<ul class="list_unstyled">
				<li><strong>Category: </strong>Category</li>
				<li><strong>Author: </strong>Author</li>
				<li><strong>Publisher: </strong>Publisher</li>
				<li><strong>Year: </strong>2015</li>
				<li><strong>ISBN: </strong>7346683</li>
				<li><strong>Format: </strong>Paperback</li>
				<li><strong>Pages: </strong>400</li>
			</ul>
			<%= link_to('Buy for Tshs 10,000/=', '#', class: 'btn btn-success', target: '_blank') %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Excerpt</h4>
			<p>
				Computer neural j-pop tower grenade tube camera pre-8-bit shanty town drone artisanal alcohol. Free-market math-lights military-grade sub-orbital pistol corporation pen. Boy apophenia woman towards San Francisco rifle vehicle assault semiotics sensory neural 8-bit pen. 8-bit refrigerator neural tattoo range-rover plastic towards nodal point 3D-printed motion ablative. Engine uplink monofilament girl chrome claymore mine network. 
			</p>
		</div>
	</div>
</div>