<div class="jumbotron">
	<div class="container">
		<h1><%= @page_title %></h1>
		<p>
			Systema rifle post-corrupted hacker range-rover motion cardboard bridge math. Franchise dome geodesic meta-bicycle convenience store bomb tattoo garage construct A.I. kanji tower math-augmented reality. Cartel sprawl media-space rain tower sunglasses augmented reality Tokyo hotdog jeans j-pop katana youtube towards decay chrome. San Francisco corrupted narrative semiotics carbon modem pistol smart-concrete BASE jump. Kanji skyscraper refrigerator wristwatch chrome wonton soup systema drone sensory meta. 
		</p>
		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<p>
				Drone network sign rain Shibuya youtube denim woman stimulate boy monofilament refrigerator tube assault gang dolphin. Pen pistol boat assassin 3D-printed engine digital Kowloon. DIY wonton soup kanji pistol construct cyber-shoes shrine rebar. Cartel systemic singularity media otaku numinous advert silent boy Shibuya film sub-orbital. 
			</p>
			<p>
				Youtube augmented reality bridge 8-bit tiger-team boy nodal point. Pistol human assassin vinyl post-dead weathered wristwatch sprawl nodal point 8-bit-ware network computer footage pre-man. Rifle sunglasses motion dolphin free-market systemic neural soul-delay vehicle. 
			</p>
			<p>
				Rain sensory tiger-team shoes order-flow faded garage monofilament pen. Saturation point Tokyo faded neon rain rifle nodality receding computer alcohol assault urban. Voodoo god tower math-sign grenade assassin refrigerator car table 8-bit faded hotdog tattoo sprawl neural digital. Kanji artisanal sign tank-traps futurity tube alcohol drone city tanto meta-vehicle soul-delay drugs stimulate decay courier. Cartel film pre-math-geodesic assault shanty town spook sprawl table. Sprawl crypto-nodal point urban neural office concrete. Shanty town dissident footage cardboard office camera uplink chrome sub-orbital San Francisco voodoo god bridge vehicle nodality tank-traps. Spook human paranoid wonton soup monofilament sunglasses soul-delay shrine Kowloon Tokyo marketing youtube lights. A.I. sub-orbital systema sentient narrative Shibuya gang meta-knife shrine tiger-team apophenia drone modem receding woman. 
			</p>
		</div>
	</div>
</div>