<%= form_for(@category, method: :delete) do |f| %>
    <p>Are you sure you want to delete this category permanently?</p>
    <h2>
      <%= f.object.name %>
    </h2>

    <%= f.submit 'Delete', class: 'btn btn-danger' %>
<% end %>