<h2><%= @page_title %></h2>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= link_to(category.name, category_path(category)) %></td>
          <td>
            <%= link_to 'Edit', edit_category_path(category) %> |
            <%= link_to 'Delete', delete_category_path(category) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>